
        body {
         background: #61bee8; 
        }
        .assignment {
          background: #ffffff;
          border: 1px solid #0071cc;
          box-shadow: 0 0 4px #1e5c8e;
          margin: 20px;
          padding: 20px;
          display: flex;
          color: #313131;
        }
        .assignment img {
          width: 150px;
          height: 150px;
          margin: 20px;
          border: 1px solid #d0d0d0;
          box-shadow: 0 0 3px 1px #b4ddef;
          transition: border 0.5s, box-shadow 0.5s;
        }
        .assignment img:hover {
          border: 1px solid #a5d4e8;   
          box-shadow: 0 0 3px 1px #e0e0e0;
        }
        .assignment_details {
          width: 75%        
        }
        .assignment_details a {
         text-decoration: none; 
        }
        h1, h2 {
         text-align: center; 
        }
        h1 {
         color: #ffffff; 
         padding: 15px;
        }
        h2 {
         color: #0071cc; 
        }
        h2:hover {
                color: #d0d0d0;
        }
        .no_stretch {
         object-fit: cover; 
        }
