
        body {
         background: #f1f1f1; 
        }
        .assignment {
          background: #f9f9f9;
          box-shadow: 0 0 3px #b6b6b6;
          margin: 20px;
          padding: 20px;
          display: flex;
        }
        .assignment img {
          width: 400px;
          height: 400px;
          margin: 20px;
          box-shadow: 0 0 5px 1px #d0d0d0;
        }
        .assignment_details a {
         text-decoration: none; 
        }
        h1, h2 {
         text-align: center; 
        }
        h1 {
         color: #15159e; 
        }
        h2 {
         color: #0071cc; 
        }
        .no_stretch {
         object-fit: cover; 
        }
